<div class="base">
	<div class="title">
		<h1>Localizações</h1>
	</div>
	<div class="container">
		<div *ngFor="let location of locationSuccess" class="ngfor">
			<li>
				<h2><strong>{{ location.name }}</strong></h2>
			</li>
			<li><strong>ID: </strong>{{ location.id }}</li>
			<li><strong>Tipo: </strong>{{ location.type | translatorsBr }}</li>
			<li><strong>Dimensão: </strong>{{ location.dimension | translatorsBr}}</li>
			<li>
				<strong>Lista de Residentes: </strong><a [routerLink]=""
					(click)="openList(location.residents)"> Abrir...</a>
			</li>
			<li><strong>Data de Criação: </strong>{{ location.created | date: 'dd/MM/yyyy' }}</li>
		</div>
	</div>
	<div class="footer">
		<button (click)="pagePrevInfo()" *ngIf="buttonPrevNull" class="page-next">Anterior</button>
		<button (click)="pageNextInfo()" *ngIf="buttonNextNull" class="page-prev">Proxima</button>
	</div>
</div>