<div class="base">
	<div class="title">
		<h1>Lista de Personagens</h1>
	</div>
	<div class="container">
		<div *ngFor="let character of charSuccess" class="ngfor">
			<mat-card>
				<mat-card-title-group>
					<mat-card-title class="card-title">
						{{ character.name }}
					</mat-card-title>
					<mat-card-subtitle>
						<strong>{{ character.status | translatorsBr}} - {{ character.species |
							translatorsBr}}</strong>
					</mat-card-subtitle>
					<mat-card-subtitle>
						<strong>Gênero: </strong>{{ character.gender | translatorsBr}}
					</mat-card-subtitle>
					<mat-card-subtitle>
						<strong>Origem: </strong>{{ character.origin.name | translatorsBr}}
					</mat-card-subtitle>
					<mat-card-subtitle>
						<strong>Localização Atual: </strong>{{ character.location.name | translatorsBr}}
					</mat-card-subtitle>
					<img mat-card-lg-image loading="lazy" [alt]="" [src]="character.image" />
				</mat-card-title-group>
				<mat-card-content class="card-button">
					<button mat-button class="button-mast" (click)="openDialog(character)"> Ver Mais...</button>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
	<div class="footer">
		<button (click)="pagePrevInfo()" *ngIf="buttonPrevNull" class="page-next">Anterior</button>
		<button (click)="pageNextInfo()" *ngIf="buttonNextNull" class="page-prev">Proxima</button>
	</div>
</div>