img {
	border: 1px solid rgb(0, 0, 0);
	width: 100%;
	max-width: 150px;
}
mat-card {
	width: 100%;
	width: 450px;
	min-height: 250px;
}
.container,
.title,
.footer {
	background-image: url('../../../assets/image/1.jpg');
}
.card-button {
	position: absolute;
	left: 97%;
	top: 90%;
	margin-left: -110px;
	margin-top: -70px;
}
.card-title {
	padding-bottom: 10px;
}
.button-mast:hover {
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	background-color: rgba(31, 31, 31, 0.582);
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
