.error-template {
	color: rgb(0, 0, 0);
	padding: 20px;
	text-align: center;
}
.error-actions {
	margin-top: 15px;
	margin-bottom: 15px;
}
.error-actions .btn {
	margin-right: 10px;
}
img {
	width: 300px;
	max-width: 90%;
}
