li {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
	list-style-type: none;
	font-size: 17px;
	font-family: helvetica;
}

h1 {
	background-color: #000000d2;
	border-radius: 20px;
	width: 100%;
	max-width: 500px;
	color: #fff;
	font-size: 26px;
	margin-bottom: 2px;
	font-weight: bold;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding-left: 30px;
	padding-right: 30px;
}

h2 {
	width: 100%;
	margin-bottom: 0;
	font-size: 22px;
}

button {
	background: #069cc2;
	border-radius: 10px;
	padding: 15px;
	color: #fff;
	border: none;
	font-size: 16px;
}

a {
	color: #069cc2dc;
}

a:link,
a:visited,
a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: #000;
	font-size: 105%;
}

.page-next,
.page-prev {
	width: 100%;
	max-width: 250px;
	border: 2px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
}

.base {
	background-color: #000000de;
	padding-top: 10px;
}

.title {
	height: 60px;
}

.container,
.title,
.footer {
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 10px;
	min-width: 95%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
}

.ngfor {
	background-image: none;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
}

.footer,
.title {
	border-radius: 10px;
	width: 95%;
	margin-left: 2.5%;
}

.scroolable {
	width: 100%;
	max-height: 550px;
}

.ult {
	padding-bottom: 30px;
}

.skeleton-h1 {
	background-color: #000000d2;
	border-radius: 20px;
	width: 100%;
	max-width: 500px;
	height: 55px;
	margin-bottom: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 2px;
}
