<div class="scroolable" *ngIf="charData != null">
	<li>
		<h1>
			<strong>{{ charData.name }}</strong>
		</h1>
	</li>
	<li>
		<img [src]="charData.image" [alt]="" />
	</li>
	<li>
		<strong>ID: </strong> {{ charData.id }}
	</li>
	<li>
		<strong>Estado: </strong>{{ charData.status | translatorsBr}}
	</li>
	<li>
		<strong>Espécie: </strong>{{ charData.species | translatorsBr}}
	</li>
	<li>
		<strong>Tipo: </strong>{{ charData.type | translatorsBr}}
	</li>
	<li>
		<strong>Gênero: </strong>{{ charData.gender | translatorsBr}}
	</li>
	<li>
		<strong>Lugar de Origem: </strong> {{ charData.origin.name | translatorsBr}} - <a
			(click)="openDialog(charData.origin.url)"> Mais Informações...</a>
	</li>
	<li>
		<strong> Localização Atual: </strong> {{ charData.location.name | translatorsBr}} - <a
			(click)="openDialog(charData.location.url)"> Mais Informações...</a>
	</li>
	<li>
		<strong> Data de Criação: </strong>{{ charData.created | date: 'dd/MM/yyyy' }}
	</li>
	<li class="ult">
		<strong> Lista de Ep. Participados por {{ charData.name }}: </strong><a (click)="openList(charData.episode)">
			Abrir...</a>
	</li>
</div>
<div *ngIf="charData == null">
	<h2>Desculpe, Informação Desconhecida</h2>
</div>