<div class="scroolable" *ngIf="episodeData != null">
	<li>
		<h1 class="nameEpisode"><strong>{{ episodeData.name }}</strong></h1>
	</li>
	<li><strong>ID: </strong>{{ episodeData.id }}</li>
	<li><strong>Numero do Ep.: </strong>{{ episodeData.episode | episodeFormat}}</li>
	<li><strong>Data de Criação: </strong>{{ episodeData.air_date | translatorsMonth}}</li>
	<li><strong>Data de Lançamento: </strong>{{ episodeData.created | date: 'dd/MM/yyyy' }}</li>
</div>
<div *ngIf="episodeData == null">
	<h2>Desculpe, Informação Desconhecida</h2>
	{{episodeDataErro |json}}
</div>