<!-- <app-skeleton-loader class="skeleton-carousel" *ngIf="!isLoading" Cwidth="1500" Cheight="350">
</app-skeleton-loader> -->
<div class="items-wrapper" *ngIf="isLoading">
    <div class="items">
        <div class="item"><img src="../../assets/image/carousel/rick1.jpeg" [alt]="" /></div>
        <div class="item"><img src="../../assets/image/carousel/rick2.jpeg" [alt]="" /></div>
        <div class="item"><img src="../../assets/image/carousel/rick3.jpeg" [alt]="" /></div>
        <div class="item"><img src="../../assets/image/carousel/rick4.jpeg" [alt]="" /></div>
    </div>
</div>