<div class="skeleton-card-model">
    <div class="skeleton-text-character">
        <app-skeleton-loader Cwidth="200" Cheight="30">
        </app-skeleton-loader>
        <app-skeleton-loader Cwidth="100" Cheight="20">
        </app-skeleton-loader>
        <app-skeleton-loader Cwidth="150" Cheight="20">
        </app-skeleton-loader>
        <app-skeleton-loader Cwidth="200" Cheight="20">
        </app-skeleton-loader>
        <app-skeleton-loader Cwidth="150" Cheight="20">
        </app-skeleton-loader>
    </div>
    <div class="skeleton-image-and-button-character">
        <app-skeleton-loader class="skeleton-loader-img" Cwidth="150" Cheight="150">
        </app-skeleton-loader>
        <app-skeleton-loader class="skeleton-loader-button" Cwidth="120" Cheight="40">
        </app-skeleton-loader>
    </div>
</div>