.container,
.title,
.footer {
    background-image: url("../../../assets/image/2.jpg"); 
}
.ngfor {
    background-color: rgba(255, 255, 255, 0.800);
    border: 2px solid black;
    width: 100%;
    max-width: 400px;
    height: 300px;
}
