<div class="base">
	<div class="title">
		<h1>Episódios</h1>
	</div>
	<div class="container">
		<div *ngFor="let episode of episodeData" class="ngfor">
			<li>
				<h2><strong>Episódio {{ episode.name }}</strong></h2>
			</li>
			<li><strong>ID: </strong>{{ episode.id }}</li>
			<li><strong>Data de Lançamento: </strong>{{ episode.air_date }}</li>
			<li><strong>Numero do Ep.: </strong>{{ episode.episode | episodeFormat}}</li>
			<li>
				<strong>Lista de Participantes desse Ep.: </strong><a [routerLink]=""
					(click)="openList(episode.characters)"> Abrir...</a>
			</li>
			<li><strong>Data de Criação: </strong>{{ episode.created | date: 'dd/MM/yyyy' }}</li>
		</div>
	</div>
	<div class="footer">
		<button (click)="buttonPrevPage()" *ngIf="infoPage?.prev != null" class="page-next">Anterior</button>
		<button (click)="buttonNextPage()" *ngIf="infoPage?.next != null" class="page-prev">Proxima</button>
	</div>
</div>